*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color:  #3498db;
    font-family: "Roboto", sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    width: 40%;
    box-shadow: 0px 0px 5px #999;
    background-color: #fff;
    padding: 24px;
}
.row{
    width: 100%;
    padding: 20px;
    background-color: #3498db;
    margin: 14px 0;
    border-radius: 34px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
 

.row input[type="radio"] {
    display: none;
}

.row label {
    display: inline-block;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
}

.row input[type="radio"]:checked + label::before {
    background-color: #fff; 
}

.row label::before {
    content: "";
    display: inline-block;
    width: 20px; 
    height: 20px; 
    border: 2px solid #fff;
    border-radius: 50%; 
    position: absolute;
    left: -34px;
    top: -2px; 
}

.btn{
    
    padding: 10px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}

.qun-box{
    display: flex;
    justify-content: space-between;
}
.qun-box #timer{
    font-size: 24px;
    font-weight: 600;
    background-color: #3498db;
    color: #fff;
    width: 50px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.prevBtn{
    background-color: #3498db;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
    margin-left: 10px;
}

.nextBtn{
    background-color: #3498db;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 3px;
}